.profile__edit {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid #FFFFFF;
    position: relative;
    z-index: 1;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
}

.profile__edit_img {
    position: absolute;
    z-index: 2;
    max-height: 10px;
    max-width: 10px;
    top: 7px;
    left: 7px;
}