.card__emotion {
    max-height: 19px;
    max-width: 22px;
    margin-top: 8px;
    margin-right: 5px;
}

@media screen and (max-width: 700px) {
    .card__emotion {
        margin-top: 6px;
    }
}

.card__emotion:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card__emotion_active {
    color: black;
}