.popup__bclose {
    background-color: black;
    border: none;
    grid-area: bclose;
}

.popup__bclose:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .popup__bclose {
        justify-self: end;
        margin-left: 256px;
    }
    .popup__bclose_img {
        height: 20px;
        width: 20px;
    }
}